@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.card-body {
  cursor: pointer;
-webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}
